body {
    background: #f6f6f6;
    font-family: Poppins, sans-serif;
}

.checkout-box {
    width: 70%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.summary {
    margin-top: 20px;
    text-align: right;
}

button {
    margin-top: 20px;
    background: #e64a6a;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
}

.back-btn {
    background: none;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
    color: #9b5c6d;
}
